<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Игра</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="flex items-center justify-center flex-col h-screen mx-auto">
        <h1 id="message"></h1>
        {% if current_user.is_authenticated %}
        <div class="border-2 border-black">
            {% for i in range(8) %}
            <div class="flex">
                {% for j in range(8) %}

                <div class="flex justify-center items-center w-20 h-20  
                {% if (i + j % 2) % 2 == 1 %} bg-black black {% else %} bg-white {% endif %}" id="{{i}}-{{j}}">
                </div>

                {% endfor %}
            </div>
            {% endfor %}
        </div>
        {% else %}
        Вы не авторизованный пользователь
        {% endif %}
    </div>

    <!-- Подключение Socket.io -->
    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"
        integrity="sha384-LzhRnpGmQP+lOvWruF/lgkcqD+WDVt9fU3H4BWmwP5u5LTmkUGafMcpZKNObVMLU"
        crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        var socket = io();

        var intervalUpdate

        socket.on('connect', function () {
            socket.emit("data");
            intervalUpdate = setInterval(function () { socket.emit('data'); }, 500);
        });

        socket.on('data', function (data) {
            var message = document.getElementById("message");
            if (!data.message) {
                drawPieces(data.board, data.black, data.white, data.user_color);
                dragDrop();
                if (data.user_color === data.step_color) {
                    message.innerHTML = "Ваш ход";
                } else if (data.user_color !== data.step_color) {
                    message.innerHTML = "Ход соперника";
                };
                
            } else {
                message.innerHTML = data.message;
            };
        });
    </script>

    <!-- Draw functions -->
    <script src="{{ url_for('static', filename='js/draw_pieces.js') }}"></script>

    <!-- DRAG and DROP -->
    <script src="{{ url_for('static', filename='js/drag_and_drop.js') }}"></script>
</body>

</html>