<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация</title>

    <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Tailwind CSS -->
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

</head>

<body>
    <div class="flex flex-col justify-center items-center h-screen space-y-8">
        <form method="post">
            <h2 class="text-2xl	">Авторизация</h2>
            <div class="input-field">
                <input id="login" type="text" class="validate" name="login" required>
                <label for="login">Логин</label>
            </div>
            <div class="input-field">
                <input id="password" type="password" class="validate" name="password" required>
                <label for="password">Пароль</label>
            </div>

            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class="text-red-500 mb-5">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}

            <div class="flex justify-center">
                <button class="btn waves-effect waves-light px-12 border-none" type="submit">
                    Войти
                </button>
            </div>
        </form>
        <div class="text-sm">
            Ещё нет аккаунта?
            <a href="/register" class="text-blue-500 hover:underline">Зарегистрируйтесь</a>
        </div>
    </div>

    <!-- Materialize JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>