<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">

  {% if title %}
    <title>Flask Checkers | {{ title }}</title>
  {% else %}
    <title>Flask Checkers</title>
  {% endif %}

  {% block head %}{% endblock %}
</head>

<body>
  {% macro form_floating(field, mb=1) %}
  <div class="form-floating" style="margin-bottom: {{ mb }}rem">
    {{ field(class='form-control', placeholder='placeholder') }}
    {{ field.label }}
    {% for error in field.errors %}
      <div class="alert alert-danger">{{ error }}</div>
    {% endfor %}
  </div>
  {%- endmacro %}

  {% macro flashed_messages() %}
    {% with messages = get_flashed_messages() %}
      {% for message in messages %}
        <div class='alert alert-danger'>{{ message }}</div>
      {% endfor %}
    {% endwith %}
  {%- endmacro %}

  <header class="p-3 bg-dark text-white">
    <div class="container">
      <div style="display: flex; align-items: center; justify-content: space-between">
        <div class="fs-5">
          Flask Checkers
        </div>
        {% if not current_user.is_authenticated %}
          <div>
            <a href="{{ url_for('login') }}" class="btn btn-outline-light" style="margin-right: 1rem">Вход</a>
            <a href="{{ url_for('register') }}" class="btn btn-warning">Регистрация</a>
          </div>
        {% else %}
          <div class="fs-4">
            {{ current_user.login }}
          </div>
          <div>
            <a href="{{ url_for('logout') }}" class="btn btn-danger">Выход</a>
          </div>
        {% endif %}
      </div>
    </div>
  </header>

  <div class='container'>{% block content %}{% endblock %}</div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
    crossorigin="anonymous"></script>
</body>

</html>